@font-face {
    font-family: 'winternormal';
    src: url('../../../styles/winter.woff');
    font-weight: normal;
    font-style: normal;

}


.background{
    background-color: transparent;
    border-radius: 20px;
    margin: 40px;
    width: 500px;
}

.image-ac-login{
    width: 50px;
    height: 60px;
    background-color:transparent;
}

.text-login-header-1{
    font-size: 22pt;
    font-family: 'winternormal';
}

.text-login-header-2{
    font-size: 26pt;
    font-family: 'winternormal';
}


.form-username{
    width: 70%;
    font-size: 20pt;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    font-family: 'winternormal';
}

.form-password{
    width: 70%;
    font-size: 20pt;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    font-family: 'winternormal';
}

.form-submit{
    width: 70%;
    font-size: 20pt;
    border-radius: 20px;
    background-color: rgb(255, 236, 185);
    font-family: 'winternormal';
}

.header-form{
    text-align: center;
    font-family: 'winternormal';
}